* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    padding: 4rem 1rem;
}

.productsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
}


.product {
    border: 1px solid black;
}

.product img {
    width: 100%;
}

.productDetails {
    padding: 1rem;
}

form {
    margin-top: 2rem;
}